/out
/node_modules/
/target/
/build/
.idea/workspace.xml
.idea/libraries
.gradle/
/tmp/
.sass-cache/
/.bundle/
/src/main/resources/public/style_guide
/src/main/javascript/vendor/
/src/main/webapp/generated/
!.idea/					            # Un-ignore .idea directory
.idea/*					            # Ignore all files in .idea
!.idea/runConfigurations/	        # Except for runConfigurations
*.iml
*.ipr
*.iws
